$main-color: ghostwhite;
$white-color: #fff;
$red-color: red;
$yellow-color: yellow;
$pink-color:#8B636C;
$blue-color: #06406c;
$black-color: #000;
$redBlack-color:#4c0d09;
$grey-color:#F2F2F2;
$blanched-color:#FFEBCD;
$dark-cyan:#008B8B;
$dark-green:#006400;

