html {
  font-size: 62.5%; }

body {
  background-color: ghostwhite;
  font-family: Helvetica, sans-serif; }

main a.show_screen {
  font-size: 1.5rem;
  color: slategrey;
  text-decoration: none;
  display: block;
  margin: 10px 0; }
main .screenshots {
  background: #fff;
  border: 1px solid grey;
  display: none;
  margin-top: 20px; }
main h1 {
  font-size: 7rem;
  text-align: center;
  margin: 0px 0 20px 0;
  font-family: 'caviar_dreamsitalic'; }
main p {
  font-family: 'droid_sansregular';
  font-size: 3.0rem;
  margin: 30px 0; }
main .git-tree {
  background-color: #fff;
  position: relative; }
  main .git-tree .image-tree {
    width: 620px;
    height: 469px;
    text-align: center;
    margin: 0 auto;
    position: relative; }
  main .git-tree .on-tree {
    position: absolute;
    width: 900px;
    left: 0;
    top: 0;
    right: 0; }
    main .git-tree .on-tree a {
      font-size: 3.0rem;
      color: #fff;
      text-decoration: none; }
  main .git-tree .command1 {
    top: 300px;
    right: 0;
    position: absolute; }
    main .git-tree .command1 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #4c0d09;
      right: 0; }
    main .git-tree .command1 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }
  main .git-tree .command2 {
    top: 225px;
    right: 0;
    position: absolute; }
    main .git-tree .command2 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #8B636C;
      right: 0; }
    main .git-tree .command2 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }
  main .git-tree .command3 {
    top: 230px;
    right: 200px;
    position: absolute; }
    main .git-tree .command3 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #06406c;
      right: 0; }
    main .git-tree .command3 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }
  main .git-tree .command4 {
    top: 130px;
    right: 205px;
    position: absolute; }
    main .git-tree .command4 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #F2F2F2;
      right: 0; }
    main .git-tree .command4 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }
  main .git-tree .command5 {
    top: 93px;
    right: 205px;
    position: absolute; }
    main .git-tree .command5 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #FFEBCD;
      right: 0; }
    main .git-tree .command5 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }
  main .git-tree .command6 {
    top: 93px;
    right: 205px;
    position: absolute; }
    main .git-tree .command6 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #008B8B;
      right: 0; }
    main .git-tree .command6 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }
  main .git-tree .command7 {
    top: 93px;
    right: 170px;
    position: absolute; }
    main .git-tree .command7 .commit-id {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: #006400;
      right: 0; }
    main .git-tree .command7 .flyOut {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin-top: 15px;
      padding: 10px 10px;
      background: rgba(70, 72, 82, 0.9);
      color: #fff;
      max-width: 300px;
      height: 55px;
      overflow: hidden;
      display: none; }

footer {
  padding: 20px;
  min-height: 200px;
  background-color: #000;
  color: #fff;
  text-align: center; }

.command1-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #4c0d09; }
  .command1-info code {
    background-color: #000;
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }
  .command1-info h1, .command1-info p {
    color: #fff;
    line-height: 50px; }

.command2-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #8B636C; }
  .command2-info code {
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }

.command3-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #06406c; }
  .command3-info code {
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }

.command4-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #F2F2F2; }
  .command4-info code {
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }

.command5-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #FFEBCD; }
  .command5-info code {
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }

.command6-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #008B8B; }
  .command6-info code {
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }

.command7-info {
  padding: 20px;
  min-height: 300px;
  text-align: center;
  background-color: #006400; }
  .command7-info code {
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: #000; }

/*# sourceMappingURL=stylesheet.css.map */
