$font-stack: Helvetica, sans-serif;

@import  'colors';

@mixin borders ($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin circle{
   @include borders(50%);
   position: absolute;
   cursor: pointer;
   width:15px;
   height:15px;
}

@mixin commands-rights {
  position: absolute;

}

@mixin code-style {

    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-size: 3.5rem;
    background-color: $black-color;

}

@mixin command-section {
  padding: 20px;
  min-height: 300px;
  text-align: center;
}

@mixin flyOut-container {
  margin-top: 15px;
  padding:10px 10px;
  background: rgba(70, 72, 82, 0.9);
  color: #fff;
  max-width:300px;
  height: 55px;
  overflow: hidden;
  display: none;
}



html {
	font-size: 62.5%;
}

body{
	background-color: $main-color;
    font-family: $font-stack;
}


main {

  a.show_screen {
    font-size: 1.5rem;
    color:slategrey;
    text-decoration: none;
    display: block;
    margin: 10px 0;
  }
  .screenshots {
    background: #fff;
    border:1px solid grey;
    display: none;
    margin-top: 20px;
  }

  h1 {
    font-size:7rem;
    text-align: center;
    margin:0px 0 20px 0;
    font-family: 'caviar_dreamsitalic';
  }

  p {
    font-family: 'droid_sansregular';
    font-size: 3.0rem;
    margin:30px 0;
  }


  .git-tree {
    background-color: $white-color;
    position: relative;


    .image-tree {
      width: 620px;
      height:469px;
      text-align: center;
      margin:0 auto;
      position: relative;

    }

    .on-tree {
      position: absolute;
      left:0;
      top:0;
      right:0;

      a {
        font-size: 3.0rem;
        color:#fff;
        text-decoration:none;
      }
    }


    .command1{
      top:300px;
      right: 0;
      @include commands-rights;
      .commit-id {
        @include circle;
        background-color: $redBlack-color;
        right:0;

       }

      .flyOut {
        @include borders(10px);
        @include flyOut-container;

      }

    }

    .command2 {
      top:225px;
      right:0;
      @include commands-rights;
      .commit-id {
        @include circle;
        background-color: $pink-color;
        right:0;

      }

      .flyOut {
        @include borders(10px);
        @include flyOut-container;
      }

    }


    .command3 {
      top:230px;
      right: 200px;
      @include commands-rights;
      .commit-id {
        @include circle;
        background-color: $blue-color;
        right:0;
       }

       .flyOut {
        @include borders(10px);
        @include flyOut-container;
       }

     }


    .command4 {
      top:130px;
      right: 205px;
      @include commands-rights;
      .commit-id {
        @include circle;
        background-color: $grey-color;
        right:0;
      }

      .flyOut {
        @include borders(10px);
        @include flyOut-container;
      }

    }

    .command5 {
    top:93px;
    right: 205px;
    @include commands-rights;
    .commit-id {
      @include circle;
      background-color: $blanched-color;
      right:0;
    }

    .flyOut {
      @include borders(10px);
      @include flyOut-container;
    }

  }


    .command6 {
      top:93px;
      right: 205px;
      @include commands-rights;
      .commit-id {
        @include circle;
        background-color: $dark-cyan;
        right:0;
      }

      .flyOut {
        @include borders(10px);
        @include flyOut-container;
      }

    }



    .command7 {
      top:93px;
      right: 170px;
      @include commands-rights;
      .commit-id {
        @include circle;
        background-color: $dark-green;
        right:0;
      }

      .flyOut {
        @include borders(10px);
        @include flyOut-container;
      }

    }



   }

}


 footer {
   padding:20px;
   min-height: 200px;
   background-color: $black-color;
   color:#fff;
   text-align: center;
 }


  .command1-info {
    @include command-section;
    background-color: $redBlack-color;

    code {
      background-color: $black-color;
      @include code-style;
    }

    h1,p {
      color:#fff;
      line-height: 50px;
    }

  }

.command2-info {
  @include command-section;
  background-color: $pink-color;

  code {
    @include code-style;
  }
}

  .command3-info {
    @include command-section;
    background-color: $blue-color;

    code {
      @include code-style;
    }
  }

.command4-info {
  @include command-section;
  background-color: $grey-color;

  code {
    @include code-style;
  }
}



.command5-info {
  @include command-section;
  background-color: $blanched-color;

  code {
    @include code-style;
  }
}

.command6-info {
  @include command-section;
  background-color: $dark-cyan;

  code {
    @include code-style;
  }
}


.command7-info {
  @include command-section;
  background-color: $dark-green;

  code {
    @include code-style;
  }
}

